body, html{
    font-family: "Source Sans 3", sans-serif;
}


.container {
    width: 400px;
    margin: auto;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweetBtn, .username {
    font-weight: 800;
}

.tweetBtn {
    margin-top: 20px;
    color: whitesmoke;
    font-weight: 800;
    background-color: rgb(78, 175, 255);
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

.writingSection {
    display: flex;
    gap: 10px;
}

.writingSection img {
    margin-left: 10px;
}
/* where you write the tweet */
.writingSection textarea {
    border: none;
    font-family: inherit;
    font-size: 15px;
    resize: none;
    width: 240px;
    width: 100%;
}


.feed, .socialBtns {
    display: flex;
}

.feed {
    margin: 10px 0;
    flex-direction: column;
    row-gap: 10px;
}

.twitt, .reply {
    display: flex;
    gap: 10px;
    border-top: 1px rgba(128, 128, 128, 0.418) solid;
    padding: 10px 10px 0px 10px;
}

.allTweetTxt {
    width: 100%;
}

.username {
    font-size: 12px;
    margin: 0;
}

.message {
    margin: 0px 0 8px 0;
}

.socialBtns {
    justify-content: space-between;
    margin-right: 10px;
}

.comments, .likes, .retweets, .deletes {
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: left;
    width: 80px;
}

.liked {
    color: red;
}

.retweeted {
    color: rgb(0, 211, 0);
}

.viewingComents {
    color: rgb(42, 142, 255);
}


.replies {
    margin-left: 60px;
    gap: 10px;
    flex-direction: column;
}

.hidden {
    display: none;
    margin: 0;
}
.show {
    display: flex;
}